body {
  max-width: 320px;
  margin: auto;
  background: #767676;
  font-family: 'Unbounded', cursive;
  font-size: 15px;
}

img {
  display: block;
  max-width: 100%;
}

h1 {
  margin-top: 0px;
  font-family: "dimensions", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 148px;
  margin-bottom: 25px;
  margin-left: 30px;
  padding-top: 50px;
  margin-right: 30px;
  line-height: 130px;
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.navigation a {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-style: solid;
  border-color: black;
  border-radius: 20px;
  color: black;
  padding: 7px;
  padding-left: 13px;
  padding-right: 13px;
  margin-top: 20px;
  text-decoration: none;
  margin-left: 30px;

}

header {
  background-image: url(../img/graffiti-intro.png);
  background-size: cover;
  margin-bottom: 0px;
  background-color: #ffffff;
}


main {
  background-color: black;
  margin-top: 0px;
  color: #ffffff;
}

h2 {
  font-family: "dimensions", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 107px;
  margin-left: 30px;
  margin-top: 0;
  padding-top: 60px;
}

p {
  margin-left: 30px;
  margin-right: 30px;
}

em {
  color:#69FF05;
  font-style: normal;
}

.tag-graffiti-street-art h3 {
  font-family: "dimensions", sans-serif;
  font-weight: 500;
  font-style: normal;
  margin-left: 30px;
  font-size: 80px;
  margin-bottom: 0;
}

.tag-graffiti-street-art img {
  margin-bottom: 0;
}



.heures h4 {
  margin-bottom: 5px;
  margin-top: 0;
  font-size: 26px;
  margin-top: 0;
  margin-left: 30px;
  color: #69FF05;
}

.heures p {
  margin-bottom: 30px;
  margin-top: 0;
}

.tag-graffiti-street-art .horaires {
 padding-bottom: 5px;
}


.personnalite h3 {
  font-family: "dimensions", sans-serif;
  font-weight: 500;
  font-style: normal;
  margin-left: 30px;
  font-size: 80px;
  margin-bottom: 0;
}

.skate h3 {
  font-family: "dimensions", sans-serif;
  font-weight: 500;
  font-style: normal;
  margin-left: 30px;
  font-size: 80px;
  margin-bottom: 0;
}

.skate h4 {
  margin-bottom: 0px;
  margin-top: 0;
  font-size: 26px;
  margin-top: 0;
  margin-left: 30px;
  color: #69FF05;
}

.skate .horaires {
  padding-bottom: 30px;
}

.important p {
  margin-top: 0;
  margin-bottom: 0;
}

.important h4 {
  margin-top: 0;
  margin-bottom: 5px;
}

.musique h3 {
  font-family: "dimensions", sans-serif;
  font-weight: 500;
  font-style: normal;
  margin-left: 30px;
  font-size: 80px;
  margin-bottom: 0;
}

.street-food {
  background-color: #ffffff;
  color: black;
}

footer {
  background-color: black;
  color: #ffffff;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 30px;
  padding-bottom: 30px;
  
}

footer h2 {
  padding-top: 60px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 30px;
  margin-right: 30px;
  font-size: 107px;
}

footer p {
  padding-bottom: 60px;
  padding-top: 40px;
  font-size: 17px;
}

.container a {
  width: 50px;
}

.street-food h2 {
  font-size: 107px;
  margin-bottom: 50px;
  margin-right: 30px;
}


.street-food h3 {
  font-family: "dimensions", sans-serif;
  font-weight: 500;
  font-style: normal;
  margin-left: 30px;
  font-size: 60px;
}

.burger h3 {
  padding-top: 50px;
  margin-bottom: 0;
}

.burger p {
  margin-top: 0;
}

.burger img {
  margin-top: 0;
}

.sprey {
  background-image: url(../img/sprey.png);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

footer a {
  text-decoration: none;
}

.tacos h3 {
  padding-top: 50px;
  margin-bottom: 0;
}

.tacos p {
  margin-top: 0;
}

.tacos img {
  margin-top: 0;
}

.hot-dog h3 {
  padding-top: 50px;
  margin-bottom: 0;
}

.hot-dog p {
  margin-top: 0;
}

.hot-dog img {
  margin-top: 0;
}

.poke h3 {
  padding-top: 50px;
  margin-bottom: 0;
}

.poke p {
  margin-top: 0;
}

.poke img {
  margin-top: 0;
}

.gauffre h3 {
  padding-top: 50px;
  margin-bottom: 25px;
}

.gauffre p {
  margin-top: 0;
}

.gauffre img {
  margin-top: 0;
}

.smoothie h3 {
  padding-top: 50px;
  margin-bottom: 15px;
}

.smoothie p {
  margin-top: 0;
  margin-bottom: 80px;
}

.smoothie img {
  margin-top: 0;
}